/* ::root{ */
/*     --accent: #5291e2; */
/*     --dark:   #383C4A; */
/*     --light:  #7C818C; */
/*     --ld:     #404552; */
/*     --dl:     #4B5162 */
/*     --white:  white; */
/* } */

*{
  font-family: monospace;
  font-size: 1.02em;
}

window{
  /* background-color: #7C818C; */
  background-color: ;
}

#input {
  margin: 5px;
  border-radius: 0px;
  border: none;
  border-bottom: 3px solid grey;
  background-color: transparent /*#383C4A*/;
  color: white;
  font-size: 1.4em;
}

/* search icon */
#input:first-child > :nth-child(1) {
  min-height: 1.25em;
  min-width: 1.25em;
  background-image: -gtk-icontheme('open-menu-symbolic');
}

/* clear icon */
#input:first-child > :nth-child(4){
  min-height: 1.25em;
  min-width: 1.25em;
  background-image: -gtk-icontheme('window-close-symbolic');
}

#inner-box {
  background-color: #383C4A;
}

#outer-box {

  margin: 2px;
  padding:0px;
  background-color: #383C4A;
}

#text {
  padding: 5px;
  color: white;
}

#entry:selected {
  background-color: #5391e0;
}

#text:selected {
}

#scroll {
}

#img {
}

/* Give color to even items */
/* #entry:nth-child(even){ */
/*     background-color: #404552; */
/* } */

